/**
  * features/compose/components/favourite_tags
  */

.favourite-tags__icon {
  width: 15px;
  padding: 0 5px;
  text-align: center;
}

.favourite-tags__lock {
  background-color: transparent;
  text-align: center;
  border: none;
  color: var(--color-text-primary);
  height: 16px;
}

.favourite-tags__add-button-in-column {
  background-color: var(--color-bg-brand-base);

  &:focus,
  &:hover {
    background-color: color-mix(
      in oklab,
      var(--color-bg-brand-base),
      var(--color-text-primary) 8%
    );
  }
}

.favourite-tags__remove-button-in-column {
  background-color: var(--color-bg-error-base);

  &:focus,
  &:hover {
    background-color: color-mix(
      in oklab,
      var(--color-bg-error-base),
      var(--color-text-primary) 8%
    );
  }
}
