@use '../mastodon/_variables' as variables;
@use 'sass:color';

/**
  * features/compose/components/favourite_tags
  */

.favourite-tags__icon {
  width: 15px;
  padding: 0 5px;
  text-align: center;
}

.favourite-tags__lock {
  background-color: transparent;
  text-align: center;
  border: none;
  color: variables.$primary-text-color;
  height: 16px;
}

.favourite-tags__add-button-in-column {
  margin-bottom: 5px;
  background-color: variables.$ui-highlight-color;

  &:focus,
  &:hover {
    background-color: color.adjust(
      variables.$ui-highlight-color,
      $lightness: 5%
    );
  }
}

.favourite-tags__remove-button-in-column {
  margin-bottom: 5px;
  background-color: variables.$error-value-color;

  &:focus,
  &:hover {
    background-color: color.adjust(
      variables.$error-value-color,
      $lightness: 5%
    );
  }
}
