/**
  * features/compose/components/favourite_tags
  */

.favourite-tags__icon {
  width: 15px;
  padding: 0 5px;
  text-align: center;
}

.favourite-tags__lock {
  background-color: transparent;
  text-align: center;
  border: none;
  color: $primary-text-color;
  height: 16px;
}

.favourite-tags__add-button-in-column {
  margin-bottom: 5px;
  background-color: $ui-highlight-color;

  &:focus,
  &:hover {
    background-color: lighten($ui-highlight-color, 5%);
  }
}

.favourite-tags__remove-button-in-column {
  margin-bottom: 5px;
  background-color: $error-value-color;

  &:focus,
  &:hover {
    background-color: lighten($error-value-color, 5%);
  }
}
