.getting-started {
  box-sizing: border-box;
  padding-bottom: 235px;
  background: url('../images/mastodon-ui.png') no-repeat 0 100%;
  background-size: contain;

  &__footer {
    flex: 1 0 auto;
  }
}

.column-link {
  padding: 12px 15px;
}
