.account__avatar-overlay-icon {
  &-base {
    border-radius: 4px;
    background: transparent no-repeat;
    background-position: 50%;
    background-clip: padding-box;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
  }

  &-overlay {
    border-radius: 4px;
    background: transparent no-repeat;
    background-position: 50%;
    background-clip: padding-box;
    background-color: darken($white, 20%);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}
